.form-horizontal > h4:first-child, input[type=submit] {
    color: #563D7C;
}

hr {
    background-color: #563D7C;
    margin-bottom: 2rem;
}
input[type=submit] {
    border-color: #563D7C;
}

    input[type=submit]:hover {
        background-color: #563D7C;
        color: white;
    }
