.row {
    margin: 0;
}

.add_post {
    padding: 0;
}

    .add_post > .btn-outline-success {
        border-width: 2px;
    }

.body_container_header .title h3 {
    font-family: 'Exo-Medium';
    font-size: 25px;
    padding-right: 0;
    margin-bottom: 0;
    margin-top: 3px;
    color: #094585;
}

.no_posts > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

@media screen and (max-width:570px) {
    .body_container_header .title h3 {
        font-size: 22px;
    }

    .add_post > .btn-outline-success {
        padding: 3px 12px;
    }
}
