@model string
@{
    Layout = null;
    ViewBag.Title = "Slack - Email confirmation";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/Styles/Common/reset.css" />
    <link rel="stylesheet" href="~/Content/Styles/Layout/fonts.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Styles/Account/SendConfirmationLink/sendConfirmLink.css" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(function () {
            setTimeout(function () {
                window.location.href = "/news";
            }, 3000);
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="content text-light text-center col-11">
            <h4 class="text-center text-uppercase">slack</h4>
            <hr class="bg-primary" />
            <div class="info">
                <h3 id="title">@Model</h3>
                <h4 class="font-weight-light">In few seconds you will be redirected to hub</h4>
            </div>
        </div>
    </div>
</body>
</html>