@model string
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Slack - Email confirmation";
}
<html>
<head>
    @section links{
        <link rel="stylesheet" href="~/Content/Styles/Account/SendConfirmationLink/sendConfirmLink.css" />
    }
    @section scripts{
        <script src="~/Scripts/Account/confirmation.js"></script>
    }
</head>
<body>
    <div class="container">
        <div class="content text-light text-center col-11">
            <h4 class="text-center text-uppercase">skavee</h4>
            <hr class="bg-primary" />
            <div class="info">
                <h3 id="title">@Model</h3>
                <h4 class="font-weight-light">In few seconds you will be redirected to hub</h4>
            </div>
        </div>
    </div>
</body>
</html>