@model string
@{
    Layout = null;
    ViewBag.Title = "Подтверждение аккаунта";
}

<html>
<head>
    @section links{
        <link rel="stylesheet" href="~/Content/Styles/Account/SendConfirmationLink/sendConfirmLink.css" />
    }
    @section scripts{
        <script src="~/Scripts/Account/sendlink.js"></script>
    }
</head>
<body>
    <div class="container">
        <div class="content text-light text-center col-11">
            <h4 class="text-center text-uppercase">skavee</h4>
            <hr class="bg-primary" />
            <div class="info">
                <h3 id="title">@Model</h3>
                <h4 class="font-weight-light">the time to send a message can take up to 5 minutes</h4>
            </div>
            <div class="refresh">
                <a id="refresh_page" class="text-primary">Message didn't reach?</a>
            </div>
        </div>
    </div>
</body>
</html>
