body, .container-fluid {
    background-color: #563D7C;
}

.nav-item:hover {
    background-color: #6b4c9a;
}

.body_container {
    max-width: 490px;
}

.user_info > h3:first-child {
    font-family: 'Exo-Medium',sans-serif;
    font-size: 25px;
}

.title {
    font-family: 'Titillium Web Bold',sans-serif;
    color: #FFE484;
}

hr {
    background-color: #FFE484;
}

.user_img > img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.user_data {
    margin: 0;
    margin-top: 20px;
}

    .user_data input {
        font-family: 'Tajawal Regular',sans-serif;
    }

.form-group > button {
    border: 1px solid #FFE484;
    color: #FFE484;
    background-color: transparent;
    font-family: 'Titillium Web SemiBold';
    width: 150px;
    margin-top: 40px;
}

    .form-group > button:hover {
        color: #563D7C;
        background-color: #FFE484;
    }


@media screen and (max-width: 1000px) {
    .user_img > img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 800px) {
    .user_img > img {
        width: 140px;
        height: 140px;
    }
}

@media screen and (max-width: 570px) {
    .user_img > img {
        width: 135px;
        height: 135px;
    }
}

@media screen and (max-width: 400px) {
    .user_img > img {
        width: 125px;
        height: 125px;
    }
}
