body {
    background: #094585;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

    .content > h4:first-child {
        font-family: 'Titillium Web Bold', sans-serif;
    }

.info {
    font-family: 'Tajawal Regular', sans-serif;
}

    .info > h4 {
        font-size: 16px;
    }

.refresh {
    margin-top: 40px;
}
#refresh_page {
    font-family: 'Exo-Medium', sans-serif;
    cursor: pointer;
}

