@model Slack.Models.ViewModels.LoginModel
<html>
<head>
    @section links{
        <link rel="stylesheet" href="~/Content/Styles/Home/Posts/posts.css">
        <link rel="stylesheet" href="~/Content/Styles/Home/News/news.css">
    }

    @section scripts{
        <script src="~/Scripts/Hubs/posthub.js"></script>
        <script src="~/Scripts/Home/Posts/posts_load.js"></script>
        <script src="~/Scripts/Home/Posts/post_upload.js"></script>
        <script src="~/Scripts/Home/News/news.js"></script>
    }
</head>
<body class="bg-light">
    <div class="body_container_header row">
        <div class="title col-10 col-md-10">
            <h3 class="text-uppercase d-inline-block">#news</h3>
        </div>
        <div class="add_post col-1 col-md-2 clearfix">
            <button class="btn btn-outline-success text-uppercase float-right"><i class="fas fa-plus"></i> <span class="d-none d-sm-inline">post</span></button>
        </div>
        <input type="file" id="upload_img" hidden />
    </div>
    <div class="posts">
    </div>
</body>
</html>


