<html>
<head>
    @section links{
        <link rel="stylesheet" href="~/Content/Styles/Home/Search/search.css">
    }
    @section scripts{
        <script src="~/Scripts/Hubs/subhub.js"></script>
        <script src="~/Scripts/Home/Search/search.js"></script>
    }
</head>
<body class="bg-light">
    <h3 class="text-center title mb-4 mt-lg-5">Find your friends in <span class="">#Skavee</span></h3>
    <div class="search input-group col-12">
        <input type="text" class="form-control text-dark focus-border-success"
               placeholder="Enter username" />
        <div class="input-group-append">
            <button class="btn btn-success text-uppercase">
                <i class="fas fa-search d-sm-inline d-md-none"></i>
                <h4 class="d-none d-md-inline">Search</h4>
            </button>
        </div>
    </div>
    <div class="results">       
    </div>
</body>
</html>