.puser_img > img {
    width: 230px;
    height: 230px;
}

.puser_name {
    margin-top: 20px;
    font-size: 28px;
}

.puser_data, .start_messaging, .follow, .edit {
    font-family: 'Tajawal Regular',sans-serif;
}

    .puser_data .small {
        font-size: 100%;
    }

.actions {
    margin-top: 20px;
}

.follow button {
    min-width: 100px;
}

.follow .following {
    background-color: #343A40;
    color: #fff;
}

    .follow .following:hover {
        background-color: transparent;
        color: #343A40;
        border-color: #343A40;
    }

.start_messaging .btn, .edit .btn {
    width: 200px;
    color: #fff;
    background-color: #094585;
    border-color: #094585;
    margin-top: 20px;
}

    .start_messaging .btn:hover, .edit .btn:hover {
        background-color: transparent;
        color: #094585;
    }

.start_messaging {
    margin-top: 20px;
}

    .start_messaging h4 {
        font-size: 20px;
        line-height: 1.2;
    }

        .start_messaging h4 a {
            color: #000;
        }
@media screen and (max-width: 1000px) {
    .puser_img > img {
        width: 150px;
        height: 150px;
    }

    .puser_name > h2 {
        font-size: 25px;
    }

    .puser_data .small {
        font-size: 95%;
    }

    .start_messaging h4 {
        font-size: 19px;
    }
}

@media screen and (max-width: 800px) {
    .puser_img > img {
        width: 140px;
        height: 140px;
    }

    .puser_name > h2{
        font-size: 24px;
    }
}

@media screen and (max-width: 570px) {
    .puser_img > img {
        width: 140px;
        height: 140px;
    }

    .puser_name > h2{
        font-size: 23px;
    }

    .start_messaging h4 {
        font-size: 18px;
    }

    .body_container {
        margin-top: 0;
    }

    .user_info {
        height: calc(100vh - 57px);
        position: relative;
    }

        .user_info > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-55%);
        }
}

@media screen and (max-width: 400px) {
    .puser_img > img {
        width: 125px;
        height: 125px;
    }

    .puser_name > h2{
        font-size: 22px;
    }

    .start_messaging h4 {
        font-size: 17px;
    }
}
