.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

body {
    background: #edeef0;
}

header {
    height: 61px;
    background: #0C5DB3;
    text-align: center;
    font-family: 'Quicksand Regular', sans-serif;
}

    header h2 {
        display: inline-block;
        font-weight: 300;
        font-size: 30px;
        color: #fff;
        margin-top: 8px;
    }

    header img:first-child,a {
        cursor: pointer;
    }

#user_img {
    margin-top: 5px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius:100px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

    #menu .first_menu {
        height: inherit;
        width: 60px;
        position: fixed;
    }

        #menu .hidden_menu {
            position: fixed;
            height: inherit;
            width: 330px;
            background: #fff;
        }

    #menu .title {
        font-family: 'Titillium Web Bold', sans-serif;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        background: #0C5DB3;
        height: 61px;
    }

        #menu .title a {
            color: #fff;
            text-decoration: none;
        }

            #menu .title a:hover {
                color: #d9d9d9;
            }

    #menu li {
        list-style-type: none;
        padding-top: 10px;
        margin: 10px;
        border-bottom: 1px solid #e3e4e8;
    }

        #menu li:nth-child(2) {
            padding-top: 3px;
        }

        #menu li a {
            display: block;
            width: 100%;
            text-align: center;
        }

            #menu li a[class^="nav"] {
                height: 64px;
            }

            #menu li a:last-child {
                font-family: 'Titillium Web Regular', sans-serif;
                color: #4a76a8;
                text-decoration: none;
            }

            #menu li a.nav_profile {
                background: url(/Content/Images/blue_user.png) no-repeat center top;
            }

            #menu li a.nav_mail {
                background: url(/Content/Images/blue_mail.png) no-repeat center top;
            }

            #menu li a.nav_news {
                background: url(/Content/Images/blue_news.png) no-repeat center top;
            }

            #menu li a.nav_search {
                background: url(/Content/Images/blue_search.png) no-repeat center top;
            }

            #menu li a.nav_settings {
                background: url(/Content/Images/blue_settings.png) no-repeat center top;
            }

            #menu li a.nav_signout {
                background: url(/Content/Images/blue_signout.png) no-repeat center top;
            }

footer {
    height: 100px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Titillium Web Regular', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgb(70, 69, 69);
}

    footer a {
        color: #1d6fdb;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }
