<html>
<head>
    <link href="~/Content/Styles/Layout/EmailConfirmModalWindow.css" rel="stylesheet"/>
</head>
<body>
    <div class="full_modal"></div>
    <div class="popup">
        <h3 id="modal_title">Подтверждение аккаунта</h3>
        <p id="modal_text">
            Мы заметили, что ваш аккаунт не подтвержден.
            <br>Если вы в будущем забудете пароль, то его восстановление
            <br>для не подтвержденного аккаунта будет невозможным.
        </p>
        <a href="@ViewBag.link">Подтвердить</a>
    </div>
</body>
</html>