<html>
<head>
    <link href="~/Content/Styles/Layout/EmailConfirmModalWindow.css" rel="stylesheet"/>
</head>
<body>
    <div class="full_modal"></div>
    <div class="popup">
        <h3 id="modal_title">Account confirmation</h3>
        <p id="modal_text">
            To continue using service, please confirm email
        </p>
        <a href="@ViewBag.link">Confirm</a>
    </div>
</body>
</html>