.form-horizontal > h4:first-child, input[type=submit] {
    color: #678033;
}

hr {
    background-color: #678033;
}

h5.small {
    font-size: 100%;
}

h5 {
    font-family: 'Tajawal Regular', sans-serif;
    margin-bottom: 15px;
}

input[type=submit] {
    border-color: #678033;
}

    input[type=submit]:hover {
        background-color: #678033;
        color: white;
    }