.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.container1 {
    width: 60%;
    background-color: #0c5db3;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    height: calc(100vh + 150px);
}

.container2 {
    width: calc(40% - 10px);
    height: 100vh;
}

.auth, .external_services {
    margin: 0 auto;
    margin-top: 50px;
}

.auth h2 {
    font-family: 'Titillium Web Bold', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

form {
    width: 450px;
    margin: 0 auto;
}

.auth .group {
    width: inherit;
    margin: 10px 0;
}

    .auth .group input, .group select {
        width: 440px;
        min-height: 30px;
        border: none;
        background: transparent;
        padding: 5px;
        font-family: 'Tajawal Regular', sans-serif;
        font-size: 18px;
    }

.auth .group select, #dateClone {
    color: #082B53;
    padding-bottom: 5px;
    padding-left: 2px;
}

.auth span, li {
    font-family: 'Tajawal Regular', sans-serif;
    font-size: 18px;
    padding-left: 5px;
}

#userBirthday {
    position: absolute;
    opacity: 0;
}

#dateClone {
    text-align: left;
    padding-left: 6px;
    font-weight: 300;
    letter-spacing: .2px;
}

.auth .group input[type=submit] {
    cursor: pointer;
    color: #fff;
    background: #155294;
    margin-top: 20px;
}

    .auth .group input[type=submit]:hover {
        background: #13467d;
    }

.external_services h2 {
    font-family: 'Antic', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #a3a3a3;
    text-align: center;
}

.external_services > div {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.external_services .group {
    text-align: center;
    margin: 15px 0;
    display: block;
    border-radius: 3px;
    text-decoration: none;
}

.external_services .google {
    background: #4285F4;
}

    .external_services .google:hover {
        background: #5999ff;
    }

    .external_services .google > div {
        background: #fff;
    }

.external_services .group img {
    position: relative;
    top: 2px;
}

.external_services .group h4 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    top: 13px;
    color: #fff;
}

.external_services .facebook {
    background: #3F51B5;
}

    .external_services .facebook:hover {
        background: #485bc7;
    }

.external_services .twitter {
    background: #03A9F4;
}

    .external_services .twitter:hover {
        background: #24baff;
    }

.go_auth, .forgot_pass {
    font-family: 'Tajawal Regular', sans-serif;
    font-size: 25px;
    background-color: #0b488a;
    padding: 10px 0;
    margin-top: 150px;
    width: 100%;
    color: #e0e0e0;
    text-align: center;
}
    .go_auth h3 {
        font-weight: 400;
        display: inline;
    }
    .go_auth a{
        text-decoration: none;
        color: inherit;
        background: #041930;
        padding: 10px 5px;
    }
        .go_auth a:hover{
            background: #e0e0e0;
            color: #041930;
        }
