.posts {
    padding-top: 50px;
    overflow: hidden;
    position: relative;
    min-width: 150px;
}

.post {
    margin-bottom: 40px;
}

    .post:last-child {
        margin-bottom: 0;
    }

.user_img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.user_name {
    font-family: 'Tajawal Regular', sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

    .user_name:hover {
        text-decoration: underline;
    }

.post_body {
    margin-top: 10px;
}

.no_posts {
    margin-bottom: 50px;
    height: 250px;
}

    .no_posts h2 {
        font-family: 'Titillium Web Regular';
        font-size: 25px;
        margin-top: 10px;
    }

@media screen and (max-width:570px) {
    .user_img {
        width: 40px;
        height: 40px;
    }

    .user_name {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .no_posts h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 570px) {
    .no_posts h2 {
        font-size: 23px;
    }

    .posts {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .no_posts h2 {
        font-size: 22px;
    }
}
