.body_container {
    max-width: 700px;
    overflow: auto;
}

.title {
    font-family: 'Titillium Web SemiBold', sans-serif;
    color: #094585;
}

    .title span {
        font-family: 'Titillium Web Bold', sans-serif;
    }

.search input, .search button {
    outline: none;
    box-shadow: none !important;
}

.search input {
    font-family: 'Tajawal Regular', sans-serif;
    font-size: 18px;
    padding: 9px;
    padding-left: 11px;
}

.search button h4 {
    font-family: 'Titillium Web Regular', sans-serif;
    font-size: 16px;
}

.results {
    margin-top: 50px;
}

.user {
    background-color: #094585;
    border-radius: 3px;
    padding: 5px;
    margin: 0;
    margin-bottom: 15px;
}
    .user:last-child {
        margin-bottom: 0;
    }

    .user_img img {
        width: 55px;
        height: 55px;
        vertical-align: middle;
    }

.user_name {
    font-family: 'Titillium Web SemiBold', sans-serif;
}

.user_location p {
    margin-bottom: 0;
    font-family: 'Tajawal Regular', sans-serif;
    font-size: 100%;
}

.follow button {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%,-50%);
}

@media screen and (max-width:768px) {
    .search input {
        padding: 7px;
        font-size: 17px;
    }

    .title {
        font-size: 23px;
    }

    .user_location p {
        font-size: 95%;
    }
}
.error {
    font-family: 'Tajawal Regular';
    font-size: 25px;
}
@media screen and (max-width:800px) {
    .error {
        font-size: 23px;
    }
}
@media screen and (max-width:600px) {
    .user {
        border-radius: 0;
    }
}

@media screen and (max-width:576px) {
    .search input {
        padding: 7px;
        padding-left: 9px;
        font-size: 17px;
    }

    .user_location p {
        font-size: 90%;
    }

    .follow {
        margin-right: 10px;
    }
    .error {
        font-size: 21px;
    }
}
