body {
    background-color: #094585;
}

.row {
    margin: 0;
}
.body_container {
    margin-top: 30px;
}

.dialogs > h3:first-child {
    font-family: 'Titillium Web SemiBold', sans-serif;
    margin-bottom: 45px;
}
.dialogs > div{
    padding: 0;
}

.dialog {
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
}

    .dialog:hover {
        background-color: #0c57a7;
    }

.user_img img {
    width: 55px;
    height: 55px;
    margin-left: 5px;
    vertical-align: middle;
}

.user_name {

}

.last_message p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.hide_dialog img {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    opacity: .6;
}

    .hide_dialog img:hover {
        opacity: 1;
    }

@media screen and (max-width: 775px) {
    .dialogs > div {
        border-radius: 0;
    }

    .body_container {
        margin-top: 15px;
    }

    .dialog {
        margin-bottom: 10px;
    }

    .dialogs > h3:first-child {
        margin-bottom: 30px;
        font-size: 24px;
    }
}
